$font: 'Source Sans Pro', sans-serif;

$color-dark: #3B454E;
$color-medium: #5C6975;
$color-border: #E6ECF1;
$color-light: #F5F7F9;

$color-hover: #e6ecf0;

$color-primary: #0099da;

$color-yellow: #F5A623;
$color-orange: #FF5400;
$color-blue: #0099DA;
$color-pink: #FF0078;
$color-green: #00C296;
$color-purple: #9013FE;
$color-black: #222222;
$color-red: #f30038;
