@import './config';

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.color-primary {
  color: $color-primary;
}

.color-dark {
  color: $color-dark;
}

.color-medium {
  color: $color-medium;
}

.color-light {
  color: $color-light;
}

.color-hover {
  color: $color-hover;
}

.color-border {
  color: $color-border;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-dark {
  background-color: $color-dark;
}

.bg-medium {
  background-color: $color-medium;
}

.bg-light {
  background-color: $color-light;
}

.bg-hover {
  background-color: $color-hover;
}

.bg-border {
  background-color: $color-border;
}

.color-yellow {
  color: $color-yellow;
}

.color-orange {
  color: $color-orange;
}

.color-blue {
  color: $color-blue;
}

.color-pink {
  color: $color-pink;
}

.color-green {
  color: $color-green;
}

.color-purple {
  color: $color-purple;
}

.color-black {
  color: $color-black;
}

.color-red {
  color: $color-red;
}

.msg-system {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 200;
  padding: 10px 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.msg-ok {
    background-color: $color-green;
    color: #fff;
  }

  &.msg-ko {
    background-color: $color-red;
    color: #fff;
  }
}
