<div (click)="showSidebar = false" *ngIf="showSidebar && smallDevice" class="backdrop animated fadeIn"></div>

<div class="agm-container">
  <app-navbar (sidebarOpen)="showSidebar = true" *ngIf="smallDevice" class="agm-navbar-container animated fadeInDown"></app-navbar>

  <div class="sidebar-container" >
    <app-sidebar [url]="url" [hideSidebar]="!showSidebar"></app-sidebar>
  </div>
  <div class="pages-container">
    <div class="wrap-page ">
      <router-outlet></router-outlet>
    </div>

    <footer class="app-footer">
      <p><a href="https://agmstudio.io/">AGMStudio</a> Copyright &copy; 2020 Adrián Guerra Marrero.</p>
    </footer>
  </div>
</div>
