<aside class="agm-sidebar st-scroll" [ngClass]="{'hide': hideSidebar}">
  <a routerLink="/inicio" class="agm-header animated fadeInDown animation-delay-3">
    <div class="agm-logo"><span>A</span></div>

    <h1 class="agm-title">AGM<span>Studio</span></h1>
  </a>

  <nav class="agm-sidebar-section">
    <ul class="section-menu">
      <li *ngFor="let item of menuItems; let i = index" routerLinkActive="active"
        [class]="'menu-item animated fadeIn animation-delay-' + (i + 4)">
        <a [routerLink]="item.route" class="menu-link">
          <i [classList]="item.icon"></i> {{ item.name }}
        </a>
      </li>
    </ul>

    <ng-container *ngIf="url === 'blog'">
      <h3 class="section-menu-title animated fadeIn animation-delay-4">Categorías</h3>
      <ul class="section-menu">
        <li *ngFor="let item of categories$ | async; let i = index" routerLinkActive="active"
          [class]="'menu-item animated fadeIn animation-delay-' + (i + 4)">
          <a [routerLink]="['/', 'blog', 'category', item.name_slug]" class="menu-link">
            <i class="zmdi zmdi-folder-outline"></i> {{ item.name }}
          </a>
        </li>
      </ul>

      <h3 class="section-menu-title animated fadeIn animation-delay-4">Etiquetas</h3>
      <ul class="section-menu-tags">
        <li *ngFor="let item of tags$ | async; let i = index" routerLinkActive="active"
        [class]="'menu-tag animated fadeIn animation-delay-' + (i + 4)" [routerLink]="['/', 'blog', 'tag', item.name_slug]">
          {{ item.name }}
        </li>
      </ul>
    </ng-container>
  </nav>
</aside>
