@import '../../scss/config';

.page-container {
  padding: 30px 40px;

  .page-title {
    font-weight: 300;
    margin-bottom: 30px;
    border-bottom: dashed 1px $color-border;
    padding-bottom: 10px;
    display: block;
  }
}

@media (max-width: 991px) {
  .page-container {
    padding: 0;
  }
}

