@import '../../scss/config';

.page-container {
  padding: 30px 40px;


  .page-title {
    font-weight: 300;
    margin-bottom: 30px;
    border-bottom: dashed 1px $color-border;
    padding-bottom: 10px;
    display: block;
  }

  .post {
    border: 1px solid $color-border;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.10);
    padding: 20px;
    margin-bottom: 30px;
    transition: border ease-in-out .2s;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .post-title {
      font-weight: 300;
      font-size: 24px;
      line-height: 140%;
    }

    .post-img {
      max-width: 80px;
      width: auto;
      margin-right: 30px;
      flex: 1 0 auto;
    }

    .post-read-more {
      width: 50px;
      height: 50px;
      flex: 0 0 auto;
      border-radius: 50%;
      border: solid 1px $color-border;
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-border;
      transition: all ease-in-out 0.2s;
      transition-delay: 0.05s;

      &:hover {
        transition-delay: 0;
        background-color: $color-primary;
        color: #fff !important;
        border-color: #fff !important;
      }

      i {
        font-size: 24px;
      }
    }

    &:hover {
      border-color: $color-primary;

      .post-read-more {
        border-color: $color-primary;
        color: $color-primary;
      }
    }
  }

  .post-content {
    h2 {
      margin-top: 20px;
      font-size: 22px;
    }

    p {
      margin-bottom: 20px;
    }

    pre {
      margin: 20px -30px;
    }

    .code-container {
      margin: 20px -30px;

      .code-header {
        background-color: #1d2027;
        padding: 5px 30px;
        border-bottom: solid 1px #383e47;
        color: $color-light;
        display: flex;
        align-items: center;
        font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

        &:before {
          color: $color-light;
          padding-top: 3px;
          margin: 0 10px 0 0;
          font-family: 'Material-Design-Iconic-Font';
          content: '\f222';
          display: block;
          opacity: .8;
        }

      }

      pre {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-container {
    padding: 0;

    .post-content {
      h2 {
        font-size: 18px;
      }

      pre {
        margin: 20px 0px;
      }

      .code-container {
        margin: 20px 0px;

        .code-header {
          padding: 5px 15px;

        }

        pre {
          margin: 0px;
        }
      }
    }
  }
}
